body {
  background-color: #222;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #ecf0f1;
  margin: 0;
}
a {
  text-decoration: none;
  color: #2ecc71;
}
a:hover {
  color: #27ae60;
}
h2 {
  text-align: center;
}
h3 {
  margin: 0;
  font-size: 22px;
}
.main {
  margin: 0 auto;
}
.score {
  font-size: 20px;
  color: #f1c40f;
  margin-right: 4px;
}
.story {
  margin: 8px;
  padding: 16px;
  border: 1px solid #444;
}
.comments {
  color: #1abc9c;
  cursor: pointer;
  font-size: 20px;
}
.comments:hover {
  color: #16a085;
}
.story-by,
.comment-by {
  font-size: 20px;
  color: #7f8c8d;
  margin-left: 4px;
  margin-right: 4px;
}
.story-by:hover,
.comment-by:hover{
  color: #bdc3c7;
}
.comment {
  padding: 4px;
  border: 1px solid #7f8c8d;
  margin-top: 16px;
}
.comment-text {
  padding: 4px;
  margin-left: 8px;
  overflow-x: scroll;
}
.toggle-comment {
  color: #1abc9c;
  cursor: pointer;
}
.toggle-comment:hover {
  color: #16a085;
}
.hnLink {
  color: #e67e22;
}
.hnLink:hover {
  color: #d35400;
}
